html, body {
    font-family: arial, serif;
    margin: 0;
    height: 100%;
    background-color: #f0ffff;/*azure*/
}

#background {
    top: 0;
    left: 0;
    padding-left: 0;
    width: 100%;
    height: auto;
}

.header, .nav, .main {
    width: 725px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.3em;
}

.main {
    color: #708090;/*slategray*/
    font-size: 1.1em;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    height: 40px;
    border-radius: 10px;
}

li {
    vertical-align: middle;
    float: left;
}

li a {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    color: black;
    text-decoration: none;
}

p a {
    color: #708090;/*slategray*/
}

p a:hover {
    color: black;
    background-color: #f0ffff;
}

a:hover {
    background-color: #a9a9a9;/*dark gray*/
}

#top_content {
    width: 100%; /*height: 400px;*/
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /*background-color: blanchedalmond;*/

    padding-top: 10px;
    padding-bottom: 10px;
}